p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.blackbox {
  padding: 1em;
  background: lavender;
  color: black;
  border: 2px solid slategrey;
  border-radius: 10px;
}
.center {
  text-align: center;
}